<!DOCTYPE html>
<html>
  <head>
    <title>Posts Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <strong> This is the posts page </strong>
  </body>
</html>
